

.caixa{
    margin: 10px 0px 10px 0px;
    background-color: rgba(175, 175, 175, 0.144);

}

footer p a {
    margin: 5px 15px;
}

.fundo{
background: rgb(255,0,168);
background: linear-gradient(110deg, rgba(255,0,168,0.773546918767507) 0%, rgba(175,0,175,1) 26%);
}

.buttonred{
    background-color: rgb(206, 87, 132);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(133, 4, 90);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    
}

.buttonred:hover{
    background-color: rgb(206, 87, 132);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    
}

#pergunta{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#opniao{
font-weight: bold;
justify-content: center;
align-items: center;


}

.carousel-item{
    padding-left: 20%;
    padding-right: 20%;
   
}



#tabela{
   
    background-color: rgba(175, 175, 175, 0.144);
}

#link:hover{

    border-bottom: 2px solid rgba(175,0,175,1);
    border-top: 2px solid rgba(175,0,175,1);
}

#link-entrar{
    background-color: rgba(175,0,175,1);
    color: white;
}

#texto-tabela{
    padding-left: 60px;
    padding-top: 90px;
    
}

#icon-beneficios{
    margin-top: 22px;
    margin-bottom: 22px;
}

.baloes{
    background-color: #d31995; 
    border: 2px solid #be2745;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 5px;
    display: flexbox;
}

.baloes>h3{
    color: #fc94a9;
}
.baloes>h4{
    color: white;
}
.baloes>p{
    color: white;
}

@media(max-width:1200px){
    #video{
      
        width: 100%;
        height: 500px;
        padding-top: 120px;
    }
}

@media(max-width:520px){

    body{
        width: 520px;
    }

    .tabela{
        width: 100vw;
    }
   .text{
    font-size: 0.8em;
   }

   #video{
    visibility: hidden;
}

    #form{
    width: 100%;
    }
}

@media(max-width:361px){

    body{
        width: 361px;
    }

   
    #titulo{
        text-overflow: clip;
        color: white;
        font-size: 1.8em;
    }

    #form{
        visibility: hidden;
    }

    #barra_nav{
        width: 300px;
    }
}


